@import '../../components/styles/variables/color.module';

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 25px 3%;
}

.topNavBar {
  background-color: $backgroundColor;
  margin: 20px;
  padding: 20px;
}
