@import '../../components/styles/variables/color';

.layoutPage {
  display: flex;
  width: 100%;
  height: 100dvh;
  justify-content: flex-start;
  flex-direction: column;
  background-color: $pageBackgroundColor;
  background-repeat: no-repeat;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 25px 3%;
}
